<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
    <connectionStrings>
        <add name="Sample.Kadastro.Infraestrutura.Persistencia.UnitOfWork.MainUnitOfWork" connectionString="Data Source=(local);Initial Catalog=kadastro;Persist Security Info=True;User ID=sa;Password=q1w2;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>