<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Sample.Kadastro.Infraestrutura.Persistencia.UnitOfWork.MainUnitOfWork" connectionString="Data Source=LD-RLESSA\SQLEXPRESS;Initial Catalog=kadastro;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>