<!-- Modal de confirmação -->
<div id="modalConfirmacaoExclusao" class="modal fade" tabindex="-1" role="dialog" 
    aria-labelledby="Janela de Confirmacao para Exclusao"
    aria-hidden="true" 
    data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title no-padding">Tem certeza que deseja realizar a ação?</h4>
            </div>
            <!--modal-header-->
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" title="Não" class="btn btn-cancel">Não</button>
                <button type="button" data-dismiss="modal" title="Sim" class="btn btn-primary" data-bind="click: $root.excluir">Sim</button>
            </div>
            <!--modal-footer-->
        </div>
        <!--modal-content-->
    </div>
    <!--modal-dialog-->
</div>
<!-- FIM Modal de confirmação -->