@model Sample.Kadastro.UI.Web.ViewModel.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>

        var config = {
            urlDefinirIntervalor : "@Url.Action("Salvar")",
            urlHome : "@Url.Action("Index", "Home")",
            initialData : @Html.Raw(Json.Encode(Model))
            };

        jQuery(document).ready(function () {
            // Activates knockout.js
            ko.applyBindings(new HomeIndexViewModel(config.initialData));
        });

    </script>
}

<div id="topo" class="row container-topo">

    <div class="col-lg-12">

        <form role="form" accept-charset="UTF-8" id="mainForm" method="post" class="container-narrow">

            <fieldset>

                <h2 data-bind="text: lblDia">dia</h2>

                <hr>

                <div class="form-group">
                    <label for="input1" class="labelDiscreto">Hora Intervalo Entrada:</label>
                    <input id="input1" type="text" class="form-control input-lg horaMinuto" placeholder="00:00" data-bind="value: txtEntrada" maxlength="5" />
                </div>

                <div class="form-group">
                    <label for="input2" class="labelDiscreto">Hora Intervalo Saída:</label>
                    <input id="input2" type="text" class="form-control input-lg horaMinuto" placeholder="00:00" data-bind="value: txtSaída" maxlength="5" />
                </div>

                <button data-bind="click: addPonto, enable: pontosMes().length < 2, text: txtBotaoSalvar" class="btn btn-primary btn-lg btn-block"></button>

            </fieldset>

            <hr>

            <div class="table-responsive">
                <table class="table table-striped">
                    <caption data-bind="text: txtCaptionMes"></caption>
                    <thead>
                        <tr>
                            <th data-bind="text: cabecalhoData"></th>
                            <th data-bind="text: cabecalhoIntervalos"></th>
                            <th data-bind="text: cabecalhoTotalDia"></th>
                            <th data-bind="text: cabecalhoHorasNegativasDia"></th>
                            <th data-bind="text: cabecalhoHorasPositivasDia"></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: pontosMes">
                        <tr>
                            <td data-bind="text: dataFormatada" />
                            </td>
							<td data-bind="foreach: intervalosDia">
                                <span data-bind="text: entrada"></span>- <span data-bind="    text: saida"></span>
                            </td>
                            <td data-bind="text: totalHorasDia"></td>
                            <td data-bind="text: horasNegativasDia"></td>
                            <td data-bind="text: horasPositivasDia"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h4 data-bind="visible: totalMes > 0">Total de horas do mês: <span data-bind="    text: totalMes"></span>
            </h4>

        </form>

    </div>
    <!--/span-->

</div>
<!--/row-->
